<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.happyhouse.model.mapper.AreaMapper">
	<select id="selectGu"
		resultType="com.ssafy.happyhouse.model.dto.AreaDto">
		select distinct gugunName from dongcode order by gugunName;
	</select>

	<select id="selectDong"
		resultType="com.ssafy.happyhouse.model.dto.AreaDto">
		select distinct dongName from dongcode where
		gugunName=#{gugunName} order by dongName;
	</select>
</mapper>